.topbar {
  height: 4rem;
  background-color: rgba(210, 209, 209, 0.587);
  position: sticky;
  z-index: 999999999;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  backdrop-filter: blur(15px);

  li,
  .link {
    color: rgb(0, 0, 0);
  }
  .leftsection {
    flex: 3;
    display: flex;
    justify-content: center;
    gap: 0.7rem;
    color: rgb(59, 59, 59);
    i {
      font-size: 1.4rem;
    }
  }
  .rightsection {
    flex: 3;
    display: flex;
    justify-content: center;
    img {
      width: 2rem;
      height: 2rem;
      object-fit: cover;
      border-radius: 2rem;
    }
    .topList {
      display: flex;
      justify-content: center;
      gap: 1rem;
      list-style: none;
      li {
        text-decoration: none;
        .link {
          text-decoration: none;
        }
      }
    }
  }
  .centersection {
    flex: 6;
    color: gray;
    .topList {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      li {
        text-decoration: none;
        .link {
          text-decoration: none;
        }
      }
    }
  }
}
.topbar:not(:sticky) {
  box-shadow: none;
}

.topbar:sticky {
  box-shadow: 0 0 20px black;
}
