.write {
  width: 80%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
  .writeForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .writeFormGroup {
      display: flex;
      gap: 1rem;
      align-items: center;
      i {
        font-size: 2rem;
        background-color: rgb(219, 219, 219);
        padding: 0.5rem;
        border-radius: 1rem;

        cursor: pointer;
      }
      i:hover {
        background-color: rgb(175, 243, 98);
      }
    }
    input,
    textarea {
      padding: 1rem;
      width: 100%;
      font-size: 1rem;
      border: none;
      border: 1px solid rgba(0, 0, 0, 0.107);
      border-radius: 1rem;
    }
    input {
      font-size: 2rem;
    }
    button {
      width: fit-content;
      padding: 0.5rem 1rem;
      border: none;
      background-color: rgb(224, 224, 224);
      font-size: 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
    }
    button:hover {
      background-color: rgb(174, 255, 98);
    }
  }
}
.categorylist {
  display: flex;
  background-color: rgb(224, 224, 224);
  border-radius: 1rem;
  padding: 1rem;
  label {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
