.header {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 100vh;
  height: 92vh;
  .headerTitles {
    display: flex;
    justify-content: center;
    align-items: center;

    .headerTitleLg {
      position: absolute;
      top: 3.5rem;
      font-family: "Lora", serif;
      // font-style: italic;
      font-weight: 400;
      font-size: 5rem;
      color: rgb(61, 61, 61);
    }
  }
  img {
    margin-top: 0rem;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: none;
  }
}
